[submodule "bootloader/edk2"]
	path = bootloader/edk2
	url = https://github.com/tianocore/edk2.git
	branch = master
[submodule "bootloader/edk2-platforms"]
	path = bootloader/edk2-platforms
	url = https://github.com/tianocore/edk2-platforms.git
	branch = master
[submodule "bootloader/edk2-non-osi"]
	path = bootloader/edk2-non-osi
	url = https://github.com/tianocore/edk2-non-osi.git
	branch = master
